n8n_pv_stamper_workflow.json
{
  "name": "PV Site Plan Stamper",
  "nodes": [
    {
      "id": "a0000001-0000-0000-0000-000000000001",
      "name": "HubSpot Deal Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [0, 300],
      "webhookId": "pv-site-plan-stamp",
      "parameters": {
        "path": "pv-site-plan-stamp",
        "httpMethod": "POST",
        "responseMode": "onReceived",
        "responseCode": 200,
        "options": {}
      }
    },
    {
      "id": "a0000001-0000-0000-0000-000000000002",
      "name": "Get Deal Properties",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [260, 300],
      "parameters": {
        "method": "GET",
        "url": "=https://api.hubapi.com/crm/v3/objects/deals/{{ $json.body.objectId }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "httpHeaderAuth",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "properties",
              "value": "PROP_address,PROP_system_size,PROP_max_dc_voltage,PROP_install_date"
            }
          ]
        },
        "options": {}
      },
      "credentials": {
        "httpHeaderAuth": {
          "id": "REPLACE_WITH_CREDENTIAL_ID",
          "name": "HubSpot API Token"
        }
      }
    },
    {
      "id": "a0000001-0000-0000-0000-000000000003",
      "name": "List Deal Engagements",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [520, 300],
      "parameters": {
        "method": "GET",
        "url": "=https://api.hubapi.com/engagements/v1/engagements/associated/DEAL/{{ $('Get Deal Properties').item.json.id }}/paged",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "httpHeaderAuth",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "limit",
              "value": "100"
            }
          ]
        },
        "options": {}
      },
      "credentials": {
        "httpHeaderAuth": {
          "id": "REPLACE_WITH_CREDENTIAL_ID",
          "name": "HubSpot API Token"
        }
      }
    },
    {
      "id": "a0000001-0000-0000-0000-000000000004",
      "name": "Extract Attachment IDs",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [780, 300],
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "const engagements = $input.first().json.results || [];\nconst attachments = [];\n\nfor (const eng of engagements) {\n  if (eng.attachments && eng.attachments.length > 0) {\n    for (const att of eng.attachments) {\n      attachments.push({\n        json: {\n          fileId: String(att.id),\n          dealId: String($('Get Deal Properties').first().json.id)\n        }\n      });\n    }\n  }\n}\n\nif (attachments.length === 0) {\n  throw new Error('No attachments found on any engagement for this deal');\n}\n\nreturn attachments;"
      }
    },
    {
      "id": "a0000001-0000-0000-0000-000000000005",
      "name": "Get File Metadata",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1040, 300],
      "parameters": {
        "method": "GET",
        "url": "=https://api.hubapi.com/files/v3/files/{{ $json.fileId }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "httpHeaderAuth",
        "options": {}
      },
      "credentials": {
        "httpHeaderAuth": {
          "id": "REPLACE_WITH_CREDENTIAL_ID",
          "name": "HubSpot API Token"
        }
      }
    },
    {
      "id": "a0000001-0000-0000-0000-000000000006",
      "name": "Find Site Plan PDF",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1300, 300],
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "const items = $input.all();\nlet match = null;\n\nfor (const item of items) {\n  const name = (item.json.name || '').toLowerCase();\n  if (name.endsWith('.pdf') && (name.includes('site_plan') || name.includes('site plan') || name.includes('pv'))) {\n    match = item.json;\n    break;\n  }\n}\n\nif (!match) {\n  for (const item of items) {\n    const name = (item.json.name || '').toLowerCase();\n    if (name.endsWith('.pdf')) {\n      match = item.json;\n      break;\n    }\n  }\n}\n\nif (!match) {\n  throw new Error('No PDF attachment found in deal engagements');\n}\n\nreturn [{\n  json: {\n    fileId: String(match.id),\n    fileName: match.name,\n    dealId: $('Extract Attachment IDs').first().json.dealId\n  }\n}];"
      }
    },
    {
      "id": "a0000001-0000-0000-0000-000000000007",
      "name": "Get Signed Download URL",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1560, 300],
      "parameters": {
        "method": "GET",
        "url": "=https://api.hubapi.com/filemanager/api/v2/files/{{ $json.fileId }}/signed-url",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "httpHeaderAuth",
        "options": {}
      },
      "credentials": {
        "httpHeaderAuth": {
          "id": "REPLACE_WITH_CREDENTIAL_ID",
          "name": "HubSpot API Token"
        }
      }
    },
    {
      "id": "a0000001-0000-0000-0000-000000000008",
      "name": "Build Stamp Request",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1820, 300],
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "const deal = $('Get Deal Properties').first().json;\nconst props = deal.properties;\nconst signedUrl = $('Get Signed Download URL').first().json.url;\n\n// ── REPLACE the PROP_* keys below with your real HubSpot internal property names ──\nreturn [{\n  json: {\n    pdf_url: signedUrl,\n    address: props.PROP_address || '',\n    system_size_kwdc: String(props.PROP_system_size || ''),\n    max_dc_voltage: String(props.PROP_max_dc_voltage || ''),\n    install_date: props.PROP_install_date || '',\n    company_name: 'SGI Energy',\n    page_index: 0,\n    dealId: String(deal.id)\n  }\n}];"
      }
    },
    {
      "id": "a0000001-0000-0000-0000-000000000009",
      "name": "Stamp PDF via Vercel",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [2080, 300],
      "parameters": {
        "method": "POST",
        "url": "https://YOUR_VERCEL_APP.vercel.app/api/stamp",
        "sendBody": true,
        "contentType": "json",
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ pdf_url: $json.pdf_url, address: $json.address, system_size_kwdc: $json.system_size_kwdc, max_dc_voltage: $json.max_dc_voltage, install_date: $json.install_date, company_name: $json.company_name, page_index: $json.page_index }) }}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "file"
            }
          }
        }
      }
    },
    {
      "id": "a0000001-0000-0000-0000-000000000010",
      "name": "Upload Stamped PDF",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [2340, 300],
      "parameters": {
        "method": "POST",
        "url": "https://api.hubapi.com/filemanager/api/v3/files/upload",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "httpHeaderAuth",
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "parameterType": "formBinaryData",
              "name": "file",
              "inputDataFieldName": "data"
            },
            {
              "parameterType": "formData",
              "name": "options",
              "value": "{\"access\":\"PRIVATE\"}"
            },
            {
              "parameterType": "formData",
              "name": "folderPath",
              "value": "/stamped-site-plans"
            },
            {
              "parameterType": "formData",
              "name": "fileName",
              "value": "=Stamped_PV_Site_Plan_{{ $('Build Stamp Request').item.json.dealId }}.pdf"
            }
          ]
        },
        "options": {}
      },
      "credentials": {
        "httpHeaderAuth": {
          "id": "REPLACE_WITH_CREDENTIAL_ID",
          "name": "HubSpot API Token"
        }
      }
    },
    {
      "id": "a0000001-0000-0000-0000-000000000011",
      "name": "Attach to Deal as Note",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [2600, 300],
      "parameters": {
        "method": "POST",
        "url": "https://api.hubapi.com/engagements/v1/engagements",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "httpHeaderAuth",
        "sendBody": true,
        "contentType": "json",
        "specifyBody": "json",
        "jsonBody": "={\n  \"engagement\": {\n    \"active\": true,\n    \"type\": \"NOTE\",\n    \"timestamp\": {{ Date.now() }}\n  },\n  \"associations\": {\n    \"dealIds\": [{{ $('Build Stamp Request').item.json.dealId }}]\n  },\n  \"attachments\": [\n    { \"id\": {{ $json.objects ? $json.objects[0].id : $json.id }} }\n  ],\n  \"metadata\": {\n    \"body\": \"<p>Stamped PV Site Plan generated automatically.</p>\"\n  }\n}",
        "options": {}
      },
      "credentials": {
        "httpHeaderAuth": {
          "id": "REPLACE_WITH_CREDENTIAL_ID",
          "name": "HubSpot API Token"
        }
      }
    }
  ],
  "connections": {
    "HubSpot Deal Webhook": {
      "main": [
        [
          { "node": "Get Deal Properties", "type": "main", "index": 0 }
        ]
      ]
    },
    "Get Deal Properties": {
      "main": [
        [
          { "node": "List Deal Engagements", "type": "main", "index": 0 }
        ]
      ]
    },
    "List Deal Engagements": {
      "main": [
        [
          { "node": "Extract Attachment IDs", "type": "main", "index": 0 }
        ]
      ]
    },
    "Extract Attachment IDs": {
      "main": [
        [
          { "node": "Get File Metadata", "type": "main", "index": 0 }
        ]
      ]
    },
    "Get File Metadata": {
      "main": [
        [
          { "node": "Find Site Plan PDF", "type": "main", "index": 0 }
        ]
      ]
    },
    "Find Site Plan PDF": {
      "main": [
        [
          { "node": "Get Signed Download URL", "type": "main", "index": 0 }
        ]
      ]
    },
    "Get Signed Download URL": {
      "main": [
        [
          { "node": "Build Stamp Request", "type": "main", "index": 0 }
        ]
      ]
    },
    "Build Stamp Request": {
      "main": [
        [
          { "node": "Stamp PDF via Vercel", "type": "main", "index": 0 }
        ]
      ]
    },
    "Stamp PDF via Vercel": {
      "main": [
        [
          { "node": "Upload Stamped PDF", "type": "main", "index": 0 }
        ]
      ]
    },
    "Upload Stamped PDF": {
      "main": [
        [
          { "node": "Attach to Deal as Note", "type": "main", "index": 0 }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "meta": {
    "instanceId": ""
  },
  "pinData": {},
  "staticData": null,
  "tags": []
}
